h1, h2 {
  text-align: center;
  }
#titulo {
  background-color: gold;
  height: 150px;
}
#video {
  border: 2px solid black;
  width: 1000px;
  height: 330px;
  
}
a {
  border: 1px solid black;
  background-color: yellow;
}
