.titulo {
  text-align: center;
}
.titulo {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
    }
button {
  text-align: center;
}
button {
  background-color: white;
  width: 70%;
}
body {
  background-color: black;
}
.text {
  background-color: white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
