h1, h2 {
  text-align: center;
  }
#titulo {
  background-color: navy_blue;
  height: 150px;
}
#video {
  border: 2px solid black;
  width: 700px;
  height: 330px;
  
}
a {
  border: 1px solid black;
  background-color: red;
}
